<div class="container">
  <h1>Products where name <%= params[:q] %>:</h1>
  <div class="row row-cols-2">
    <% @records.each do |records| %>
      <div class="col">
        <dl>
          <dt> <%= records.title %> </dt>
        </dl>
        <%= image_tag("#{records.image}", height: '200') %>
        <dl>
          <dt>Redaction rating:⭐<%= records.rating %></dt>
          <dt>Users rating:⭐<%= records.user_rating.round(2) %></dt>
          <dt> 
            <%= link_to 'Show', records, class: 'btn btn-dark' %>
          </dt>
        </dl>
      </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
  <%== pagy_info(@pagy) %>
</div>