<p id="notice"><%= notice %></p>

<p>
  <div class="text-center">
    <h1><%= @product.title %></h1>
  </div>
</p>

<p>
  <div class="text-left">
    <h4 class="fw-lighter">Created at: <%= distance_of_time_in_words(@product.updated_at, Time.now) %> ago.</h4>
  </div>
</p>


<p>
  <div class="text-left">
    <h4 class="fw-lighter">Views count: <%= @product.counter_of_view %></h4>
  </div>
</p>

<% if user_signed_in? %>
  <%= render 'likes/form' %>
<% end %>


<p>
  <div class="text-center">
    <%= image_tag("#{@product.image.presence}") %>
  </div>
</p>

<p>
  <div class="fst-italic">
    <%= @product.content %>
  </div>
</p>

<div>
    <div class="d-flex justify-content-between">
      <h3 class="text-center">Comments:</h3>
    </div>

    <% if @product.comments.present? %>
      <div class="m-2 d-flex-column">
        <% @product.comments.each do |comment| %>
          <div class="col- pt-4 bg-white position-relative mb-3">
            <% if comment.rating == 0 %>
              <p>No raiting ⭐</p>
            <% else %>
              <p>⭐<%= comment.rating %></p>
            <% end %>
            <strong class="position-absolute fixed-top p-2"><%= comment.user.email %></strong>
            <p class="p-3 m-0"><%= comment.body %></p>
            <div class="text-right p-1 btn-group-sm">
              <% if current_user == comment.user %>
                <%= link_to 'Edit', edit_product_comment_path(comment.product, comment), class: "btn btn-secondary" %>
                <%= button_to 'Destroy', [comment.product, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No comment yet</p>
    <% end %>

  <div>
    <%= render 'comments/form' %>
  </div>

</div>

<%= link_to 'Back', products_path, class: 'btn btn-black' %>
