<p id="notice"><%= notice %></p>

<p>
  <%= @product.title %>
</p>

<p>
  <%= image_tag("#{@product.image}", height: '250', width: '250') %>
</p>

<p>
  <strong>Content:</strong>
  <%= @product.content %>
</p>

<%= link_to 'Back', products_path, class: 'btn btn-black' %>
