<!DOCTYPE html>
<html>
  <head>
    <title>WardrobeSelection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
      }
      body {
        padding: 0;
        margin: 0;
        padding-bottom: 60px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <!--top-header-->
      <%= render 'shared/navbar' %>
      <!--top-header-->
    </div>

    <div>
      <%= yield %>
    </div>

    <!--footer-->
    <div id='footer'>
      <%= render 'shared/footer' %>
    </div>
    <!--footer-->
  </body>
</html>
